<div class="row" style="margin-left: 0; margin-right: 0;">
  <Menu #appMennu class="noSpace">
    <MenuItem [fontAwesome]="'fa-pencil-square-o'" [tabtitle]="'Todos'"></MenuItem>
    <MenuItem [fontAwesome]="'fa-digg'" [tabtitle]="'Digg'"></MenuItem>
    <MenuItem [fontAwesome]="'fa-cogs'" [tabtitle]="'Settings'"></MenuItem>
    <MenuItem [fontAwesome]="'fa-life-buoy'" [tabtitle]="'Help'"></MenuItem>
    <MenuItem [fontAwesome]="'fa-power-off'" [tabtitle]="'Logout'"></MenuItem>
  </Menu>
  <div id="mainPanelWrapWasp" class="col-xs-12 col-sm-12 col-md-12 col-lg-11 appHeight">


   <router-outlet></router-outlet>


    <!--
    <Todos *ngIf="screens.todos">
      <Sliderpanel>
        <div class="campaignSlider noScroll">
          <Todo1 class="page center todo1 selected">
            <BusinessView></BusinessView>
            <div class="yScroll">
              <hr/>
              <h3>To do sample application with remote server save</h3>
              <h5>uses your ip address as unique token and keeps data on server for 2 days</h5>
              <hr/>
              <todo-list>
              </todo-list>
            </div>
          </Todo1>
          <Todo2 class="page right todo2">
            <hr/>
            <h3>To do remote server statistics</h3>
            <h5>display your total CRUD operations to remote node server</h5>
            <hr/>
          </Todo2>
        </div>
      </Sliderpanel>
    </Todos>
    <Digg *ngIf="screens.digg" mode="tiles">
      <small>Digg component tile style</small>
    </Digg>
    <Settings *ngIf="screens.settings">
      <h5>Settings</h5>
    </Settings>
    <Help *ngIf="screens.help">
      <br/>
      <tabs>
        <tab [tabtitle]="'About this app'">
          <h4>
            This App was created as both a starting point for anyone looking to create a scalable application in Angular 2
          as it focuses on key concepts of object oriented / component programming.</h4>
          <hr/>
          <h4>We also try and touch all the major aspects
          of the language to give new commers a sample code base to reference for help (well at least until Angular 2 takes over
          the universe | Angular 2 - one framework baby!!!).</h4>
          <hr/>
          <h5>Want to help? visit me on Github</h5>
          <center>
            <a id="largeGit" href="https://github.com/born2net/ng2Boilerplate" target="_blank" class="fa fa-github"></a>
          </center>

        </tab>
        <tab [tabtitle]="'Contributors'" >
          <Contributors></Contributors>
        </tab>
        <tab tabtitle="Angular 2 Resources">
          <div class="container">
            <div class="notice notice-info">
              <strong>videos</strong> <a target="_blank" href="https://youtube.com">Watch the video tutorial on this project</a>
            </div>
            <div class="notice notice-success">
              <strong>home page</strong> <a target="_blank" href="https://angular.io/">Angular 2 home page</a>
            </div>
            <div class="notice notice-danger">
              <strong>docs</strong> <a target="_blank" href="https://angular.io/docs/js/latest//">Angular 2 docs</a>
            </div>
            <div class="notice notice-info">
              <strong>videos</strong> <a target="_blank" href="https://egghead.io/technologies/angular2">EggHead Angular 2 tutorials</a>
            </div>
            <div class="notice notice-warning">
              <strong>books</strong> <a target="_blank" href="https://pragprog.com/book/smreactjs/reactive-programming-with-rxjs">rx.js book</a>
            </div>
            <div class="notice notice-warning">
              <strong>books</strong> <a target="_blank" href="https://www.ng-book.com/2/">ng2 book</a>
            </div>
          </div>
        </tab>
      </tabs>
    </Help>
    <Logout *ngIf="screens.logout">
      <h5>logout 1</h5>
    </Logout>
    -->
  </div>
</div>