<button type="button" (click)="onNext($event)" class="btn btn-default btn-sm goNext">
  <span class="fa fa-arrow-right"></span>
</button>
<hr/>
<small>I am notes1 component</small>
<hr/>
<h1>Notes 1</h1>
<div class="container">
  <div [hidden]="submitted">

    <!-- special tx to ng2-book via http://blog.ng-book.com/the-ultimate-guide-to-forms-in-angular-2/ -->

    <!-- create a form and bind it directly to the ControlGroup we created manually instantiated in the controller below (i.e.: notesForm) -->
    <!-- this is different from what we did in Contact.ts where we had Angualar automatically create a control group for us -->
    <!-- and we just created a local variable their-->

    <!-- To create a new ControlGroup and Controls implicitly use (used here in Contact.ts): -->
    <!--  -->
    <!-- ngForm and -->
    <!-- ngControl -->
    <!-- But to bind to an existing ControlGroup and Controls use explicitly via FormBuilder (used in this component): -->
    <!--  -->
    <!-- ngFormModel and -->
    <!-- ngFormControl -->

    <div [class.panelColorError]="!notesForm.valid">
      <!-- here we are mapping the ControlGroup via the directive ngFormModel to the instance of notesForm -->
      <form [ngFormModel]="notesForm" (ngSubmit)="onSubmit(notesForm.value)">
        <div class="form-group">
          <!-- here we are mapping the Control via the directive ngFormControl to the instance of notesForm.controls['userName'] -->

          <!-- user name -->
          <input type="text" class="form-control" placeholder="user name" required [ngFormControl]="notesForm.controls['userName']">
          <div *ngIf="!userName.valid" class="alert alert-warning alert-dismissible" role="alert">
            <strong>Warning!</strong> are you a robot?
          </div>

          <!-- login name -->
          <input type="text" class="longInput form-control" placeholder="check server for free name (try: Sean)" required [ngFormControl]="notesForm.controls['login']">
          <p *ngIf="login.pending">Fetching data from the server...</p>
          <div *ngIf="login.hasError('taken')" class="alert alert-warning alert-dismissible" role="alert">
            <strong>Warning!</strong> Login is taken
          </div>
          <div *ngIf="login.hasError('notCapped') && login.touched" class="alert alert-warning alert-dismissible" role="alert">
            <strong>Warning!</strong> Must start with first capital letter
          </div>

          <!-- phone -->
          <input type="text" class="longInput form-control" placeholder="phone" required [ngFormControl]="notesForm.controls['phone']">
          <div *ngIf="!phone.valid" class="alert alert-warning alert-dismissible" role="alert">
            <strong>Warning!</strong> please use valid phone
          </div>
          <label for="name">Enter your notes</label>

          <!-- bind the textarea control to our manually created notesTextArea control -->
                            <textarea type="text" placeholder="enter some notes" class="myNotes form-control" [ngFormControl]="notesForm.controls['notesTextArea']" required [(ngModel)]="model.name" (change)="onChange($event)"></textarea>
          <div *ngIf="notesTextArea.hasError('notCapped') && notesTextArea.touched" class="alert alert-warning alert-dismissible" role="alert">
            <strong>Warning!</strong> Must start with first capital letter (Validators are working :)
          </div>
          <div *ngIf="!notesForm.valid && notesTextArea.touched" class="alert alert-warning alert-dismissible" role="alert">
            <strong>Warning!</strong> something is not right with the form
          </div>
          <span>Total characters via Pipes: {{model.name | CharCount}}</span>
          <br/>
        </div>
        <br/>
        <button type="submit" class="btn btn-default" [disabled]="!notesForm.valid">Submit</button>
      </form>
    </div>