.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}

.ng-invalid.ng-dirty {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
/** apply shake animation for when a form field is invalid and dirty **/
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.form-control {
    width: 20%;
}
#totalChar {
    border: none;
}
#summary {
    width: 20%;
}
.myNotes {
    width: 50%;
    height: 200px;
}
.panelColorError {
    background-color: #ffe4e4;
}
.longInput {
    width: 570px;
}