<div class="row" style="margin-left: 0; margin-right: 0;">
  <Menu #appMennu class="noSpace">
    <MenuItem [fontAwesome]="'fa-dot-circle-o'" [tabtitle]="'Notes'"></MenuItem>
    <MenuItem [fontAwesome]="'fa-digg'" [tabtitle]="'Digg'"></MenuItem>
    <MenuItem [fontAwesome]="'fa-sun-o'" [tabtitle]="'Weather'"></MenuItem>
    <MenuItem [fontAwesome]="'fa-comment'" [tabtitle]="'Contact'"></MenuItem>
    <MenuItem [fontAwesome]="'fa-power-off'" [tabtitle]="'Logout'"></MenuItem>
  </Menu>
  <DividerPanel>
    <div id="mainPanelWrap" class="col-xs-9 col-sm-9 col-md-9 col-lg-8">
      <Notes *ngIf="screens.notes">
        <Sliderpanel>
            <div class="campaignSlider noScroll">
              <Notes1 class="page center notes1 selected">
                <div class="yScroll">
                </div>
              </Notes1>
              <Notes2 class="page right notes2">
                <div class="yScroll">
                  <hr/>
                  <h3>Notes 2</h3>
                </div>
              </Notes2>
              <Notes3 class="page right notes3">
                <div class="yScroll">
                  <hr/>
                  <h3>Notes 3</h3>
                </div>
              </Notes3>
              <Notes4 class="page right notes4">
                <div class="yScroll">
                  <hr/>
                  <h3>Notes 4</h3>
                </div>
              </Notes4>
              <Notes5 class="page right notes5">
                <div class="yScroll">
                  <hr/>
                  <h3>Notes 5</h3>
                </div>
              </Notes5>
            </div>
        </Sliderpanel>
      </Notes>
      <Digg *ngIf="screens.digg" mode="list">
        <small>Digg component list style</small>
      </Digg>
      <Weather *ngIf="screens.weather">
      </Weather>
      <Contact class="yScroll" *ngIf="screens.contact">
      </Contact>
      <Logout *ngIf="screens.logout">
        <h5>logout 2</h5>
      </Logout>
    </div>
    <div id="propPanelWrap" class="appHeight col-xs-3 col-sm-3 col-lg-3">
      <Properties id="propPanel" class="appHeight">
      </Properties>
    </div>
  </DividerPanel>
</div>
