label {
    white-space: pre;
    word-break: break-word;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

label.completed {
    color: #d9d9d9;
    text-decoration: line-through;
}

.buttonsDone, .buttonsEdit {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    color: #585858;
    transition: opacity 2s ease-out;
    border: 0;
}

.buttonsDone {
    right: 10px;
}

.buttonsEdit {
    right: 40px;
}

.view:hover .buttonsDone {
    display: block;
    opacity: 1;
}

.view:hover .buttonsEdit {
    display: block;
    opacity: 1;
}

.editInput {
    margin-left: 45px;
    width: 100%;
    height: 70px;
}

.toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
}

.toggle:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.toggle:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.toggle {
    background: none;
    height: 40px;
}
